:root {
    --header1-color: #33cc00;
    --header2-color: #ffbe00;
    --header3-color: #5fa841;
    --header4-color: #fec5a7;
    --header5-color: #7373b9;
    --body-text-color: #000000;
    --button-bg-color: #ffbe00;
    --button-text-color: #000000;
    --link-color: #ff7a8f;
    --footer-bg-color: #333;
    --header-bg-color: #333;
    --footer-text-color: #ffffff;
    --background-color: #f4f4f4;
    --white: #ffffff; 
}

h1 {
    font-size: 50px;
    color: var(--header1-color);
    text-transform: uppercase;
}

h2 {
    font-size: 45px;
    color: var(--header2-color);
    text-transform: uppercase;
}

.header {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg-color);
    color: var(--footer-text-color);
}

body {
    font-family: 'Proxima Nova';
    font-size: 12px;
    background-color: var(--background-color);
    color: var(--body-text-color);
}

header, footer {
    text-align: center;
    background-color: var(--white); 
    font-family: 'Proxima Nova';
    color: var(--white); 
}
.img_dino__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    text-align: center;
}

.dino_name {
    font-size: 2em;
    text-transform: uppercase;
    color: var(--header3-color);
    margin-bottom: 50px;
    font-weight: bold;
}

.img_dino__card {
    margin: 0 auto;
}

.ingen-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-top: 100px;
}

.ingen-item1 {
    display: block;
    justify-content: flex-start;
    width: 250px;
}

.ingen-item-2 { 
    justify-content: flex-start;
    width: 600px;
    margin-left: 70px;
}

p.ingen-text, p.henry-wu {
    font-size: 1.5em;
    text-align: left;
}

p.ingen-text {
    margin: 0 10px 100px 0;
}

img.henry-wu-img {
    display: block;
    margin: 50px auto; 
    max-width: 80%; 
    height: auto;
}

p.henry-wu {
    margin-left: 0px;
    overflow: auto;
    display: block;
    margin-bottom: 100px;
    text-align: center; 
}

p.intro {
    font-size: 1.5em;
    margin-bottom: 50px;
    padding: 0 50px 100px;
}

.jumbotron {
    min-height: 400px;
    background-image: url(/images/Jurassicvault_JW_4kHD_004.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.jumbo-text {
    font-size: 5em;
    font-style: italic;
    margin: 0;
}

nav {
    width: 100%; 
    background-color: #222;
    text-align: center;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}

nav li {
    display: inline;
}

nav a {
    color: var(--white);
    font-family: 'Proxima Nova';
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}

.nav__link {
    font-size: 14px;
    font-weight: 800;
    color: var(--link-color);
    text-decoration: none;

}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column; 
        text-align: center; 
    }

    nav a {
        padding: 10px 0; 
        width: 100%; 
    }
}

@media (min-width: 768px) {
    nav ul {
        justify-content: center;
    }

    nav a {
        padding: 15px 20px;
    }
}

main {
    padding: 20px;
    text-align: center;
}

.malcolm-text {
    margin: 0;
    font-size: 2em;
}

.plan-your-visit-button {
    background-color: var(--link-color);
    color: var(--white);
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 20px;
    border-color: var(--white);
    transition-duration: 0.8s;
}

.plan-your-visit-button:hover {
    background-color: var(--link-color);
    color: var(--footer-text-color);
    border-color: var(--footer-text-color);
}

.footer {
    color: var(--footer-text-color);
    font-size: 1.5em;
    background-color: var(--button-text-color);
    margin-top: 100px;
    padding: 20px;
}

.henry-wu {
    list-style: none;
}

.ingen-text, .henry-wu-text {
    text-align: left;
    padding: 20px;
}

@media (min-width: 1100px) { 
    .img_dino__card {
        margin: 20px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        float: none;
    }

    nav > a.nav__logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav__link, .nav__link--active {
        text-decoration: underline;
        color: #ff7a8f;
    }

    .nav__link--active {
        padding: 0;
    }

    .ingen-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ingen-logo-text-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1100px) {
    .ingen-logo-text-container {
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .ingen-item1 {
        display: none;
        margin: 0;
    }

    .ingen-item2 {
        display: none;
        margin: 0;
    }

    main > .henry-wu-img {
        margin: 50px;
    }
       
    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        float: right;
        font-size: 1.5em;
    }
}
